# Compiled python files
*.pyc

# Mac Finder files
*.DS_Store

# Python distutil files
/dist/
/MANIFEST

# Vim swap files
*.swp

# PyDev / Eclipse files
/.project
/.pydevproject
/.settings/

# PyCharm files
/.idea/

