# Compiled python files
*.pyc

# Python distutil files
/dist/
/MANIFEST

# Vim swap files
*.swp

# PyDev / Eclipse files
/.project
/.pydevproject
/.settings/

# PyCharm files
/.idea/

# MacOS files
.DS_Store

