# always include these files
include README
include LICENSE
include requirements.txt

# modules are included automatically (via 'py_modules' in setup.py)

# include models
include madmom/models/LICENSE
include madmom/models/beats_blstm_[1-8].npz
include madmom/models/onsets_rnn_[1-8].npz
include madmom/models/onsets_brnn_[1-8].npz
include madmom/models/onsets_brnn_peak_picking_[1-8].npz
include madmom/models/notes_brnn.npz

# include scripts
include bin/*
include bin/tools/*

# never include these files
global-exclude *.pyc
global-exclude .DS_Store
global-exclude .ipynb
