# always include those files
include README
include LICENSE
recursive-include cp *
recursive-include bin *
global-exclude *.pyc
global-exclude .DS_Store
exclude cp/audio/mfcc.py
exclude cp/audio/ffmpeg.py
exclude cp/evaluation/scorefollowing.py
exclude cp/evaluation/notes.py
exclude cp/evaluation/multidim.py
exclude cp/evaluation/beats_goto.py
exclude cp/utils/hdf5.py
exclude cp/utils/overparams.py
exclude cp/utils/stats.py
prune cp/test
prune cp/fun
